@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Quicksand:wght@300;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
  
.sesa-main{
    background-image: url('../images/ian-kiragu-GSh_PwsZsPQ-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* position:absolute;
    top:0;
    left:0; */
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    /* width:100%; */
    min-height: 100vh;
    max-height: 200vh;

}
.overlay {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
    background-color: rgba(0,0,0,0.5);
  }
.sesa-nav{
    display: flex;
    justify-content: space-between;
    padding:0 1rem;
    font-size: .8rem;
    animation:fadeInDown;
    animation-duration: 2s;
    /* z-index: ; */
}
.sesa-logo img{
    width:4rem;
    margin:1rem 0;

}
.sesa-items{
    display:flex;
    gap:2.3rem;
    margin:2rem 0;
}

.sesa-items a{
    text-decoration: none;
    color:#fff;
}

.item-number{
    color:orange;
}
.sesa-body{
    display: flex;
    justify-content: space-between;
 
    align-items: center;
    /* margin-bottom: 10rem; */
    margin-left:2rem;
    margin-right:2rem;
    animation:fadeInDown;
    animation-duration: 2s;
    /* margin: 0 2rem; */
}
.hero-image img{
    width:22rem;
    
    /* align-self: center; */
}
.sesa-hero{
    animation:fadeInDown;
    animation-duration: 2s;
}
.hero-title{
    color:orange;
    font-size: 1.5rem;
    font-weight: 450;
}
.hero-intro{
    color:#fff;
    font-size: 2rem;
    width:80%;
    font-weight: 700;
    margin:1.5rem 0;

}
.changing{
    color:orange;

}
.changing:before{
    color:orange;

    content: "";
    /* border-left: 2px solid #4070F4; */
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
.hero-button button{
    height:3rem;
    width:15rem;
    background-color: orange;
    color:#fff;
    outline:none;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.hero-button button:hover{
    border: 1px solid orange;
    color:orange;
    background-color: transparent
    ;
    transition: 0.3s all ease-in-out;

    
}
.hero-button i{
    transition: transform 0.2;
}
.hero-button:hover i{
    transform: translate(10px);
}
@keyframes move{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}
.caret{
    font-size: 3rem;
    color:orange;
    position:relative;
    bottom:7rem;
    text-align: center;
    animation: move 2s linear infinite;
}
/* a propos section  */
.sesa-about{

    min-height: 100vh;
    background-image: url('../images/annie-spratt-cVEOh_JJmEE-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 200vh;
  
    margin-left:-10px; 
    margin-right:-10px;
}
.section-title{
    
    color:#fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-weight: 550;
    padding-top:3rem;
}
.section-title .title-number{
    color:orange;
    margin-right: .4rem;
}
.sesa-cards{
display:flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap:2rem;
margin-top: 4rem;
}
.sesa-card{
    background-color: #fff;
    height: 19rem;
    width:15rem;
    border-radius: 10px;
}

.sesa-image {
    background-image: url('../images/LOGO-VF-CELEBRATE-AFRICA-QUADRI.png');
    height: 8rem;
    width:100%;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sesa-image-1{
    background-image: url('../images/NIOUSSIRE-K.-OMOTUNDE-ANYJART.jpeg');
    height: 8rem;
    width:100%;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sesa-image-2{
    background-image: url('../images/check.jpg');
    height: 8rem;
    width:100%;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sesa-image-3{
    background-image: url('../images/whatsapp-image-2023-06-25-at-15.16.24.jpeg');
    height: 8rem;
    width:100%;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sesa-content{
    text-align: center;
    font-size: .8rem;
    color:rgba(74, 73, 73, 0.735);
    height:7rem;
    overflow: hidden;
    margin:.5rem;
}
.sesa-content .content-title{
    color:orange;
    font-weight: 450;
    font-size: .9rem;
}
.orange{
    color:#000;
}
.card-button{
    text-align: center;
}
.card-button button{
    height:2rem;
    width:8rem;
    background-color: transparent;
    color:orange;
    outline:none;
    border:1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.card-button button:hover{
    color:#fff;
    background-color: orange;
}
.sesa-modal{
    width:25rem;
    display: none;
    height:25rem;
    overflow-y: scroll;
    background-color: #fff;
    position:fixed;
    top:5rem;
    bottom:15rem;
    border-radius: 10px;
    padding:10px;
    border: none;
}
.sesa-modal .close, .close2, .close4{
 font-size: 2rem;
 float:right;
 margin: .1rem .5rem;
 cursor: pointer;
}
.modal-body{
    font-size: .8rem;
    margin-top: 2rem;
    padding:10px;
    /* text-align: center; */
}
.modal-button{
    text-align: center;
}
.modal-button button{
    height:2rem;
    width:8rem;
    background-color: orange;
    color:#fff;
    outline:none;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.modal-button button:hover{
    color:#fff;
    background-color: transparent;
    border: 2px solid orange;
    color:orange;
}



/* contact-Css */


.main-container
{
    width: 100%;
    height: 100vh;
}

.header-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-div .span-3
{
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 5px;
    color: rgb(255,165,0);
    font-family: 'Montserrat', sans-serif;

}

.header-div .span-head4
{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}

.snd-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    height: 70%;
}
.desc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.desc1
{
   width: 40rem;
}
.desc h3 .sesa
{
    color:rgb(255,165,0);
    font-family: 'Montserrat', sans-serif;

    font-size: 25px;

}
.desc h3
{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;

}

.desc p .author
{
    color:rgb(255,165,0);
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
}

.desc p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 1rem;
}

.desc-button
{
    margin-top: 1rem;
    height: 30%;
}

.desc-button .desc-but
{
    height: 3rem;
    width: 16em;
    background-color: rgb(255,165,0);
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: 400;
    font-size: .8rem;
}

.foot
{
    width: 100%;
    height: 15%;
    background-color: rgb(255,165,0) ;
    display: flex;
}

.foot .list
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot .list .bi
{
    font-size: 1rem;
    margin: 1.5rem;
    color: White;

}

.Sesa2023
{
    width: 10rem;
    display: flex;
    align-items: center;
}
.Sesa2023 p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}

@media screen and (max-width: 427px){
    .desc1
{
   width: 20rem;
}

.Sesa2023 p{
    color: white;
    font-family: 'Arimo';
    font-size: 10px;
}
}
@media screen and (max-width: 771px){
    .sesa-body{
        flex-direction: column;
    }
    .caret{
        margin-top: 3rem;
    }
}